<h2>Detail article:</h2>
<p>
<strong>Title:</strong>
<%= @article.title %>
</p>

<p>
<strong>content:</strong>
<%= @article.text %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'back', articles_path %>